{% extends 'base.html' %} {% block home %}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

    <div class="jumbotron" style="justify-content: center; align-items: center;">
        <h1 class="display-4" style="justify-content: center; align-items: center;">Shorten URL for all your needs</h1>    
        <a class="btn btn-light" href="/signup/" role="button">Create your free account</a>
      </div>

</body>

</html>

{% endblock %}